# Node
node_modules/
npm-debug.log

# Next.js
.next/
out/
dist/

# Prisma
prisma/migrations/
prisma/dev.db

# Env files
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml
*.log

# VSCode
.vscode/
